name: Alert

on:
  workflow_run:
    workflows: ["Build dimensionModules and upload artifact"]  # only make alert after build modules
    types:
      - completed

  # push:
  #   branches: [ master ]

jobs:
  deploy:
    # optionally only run if b succeeded:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Update unlisted
      run: |
        curl --fail https://born-to-llama.herokuapp.com/refresh
        exit $?
    - name: Deploy to server
      run: |
        curl --fail https://born-to-llama.herokuapp.com/rebuild-server
        exit $?
