name: Build dimensionModules and alert unlisted projects

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run buildImports script
        run: pnpm run build

      - name: Publish dimensionModules.json as "latest" release
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          name: Latest dimensionModules
          artifacts: cli/dimensionModules.json
          allowUpdates: true
  alert-unlisted:
    needs: build-and-upload  # waits for build-and-upload to succeed first
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Update unlisted
      run: |
        curl --fail https://born-to-llama.herokuapp.com/refresh
        exit $?
    - name: Deploy to server
      run: |
        curl --fail https://born-to-llama.herokuapp.com/rebuild-server
        exit $?
          